---
/*

	About Us (O nás) page.

	TODO: SEO

*/

import fetchData from "@/lib/fetchData.ts";
import Layout from "@/layouts/Layout.astro";
import TeamItem from "@/components/TeamItem.tsx";
import query from "@/queries/o-nas.js";

// Fetch team members from the CMS.
const { teamModel } = await fetchData(query);

// Throw an error if the data is empty.
if (!teamModel) {
  throw new Error("Failed to fetch API");
}
---
<Layout title="O nás" description="">
  <section class="text-petroleum-900">
    <div class="container">
      <div class="py-24 flex flex-col gap-32">
        {teamModel.map((item, i) => <TeamItem item={item} client:load />)}
      </div>
    </div>
  </section>
</Layout>
