html {
	scroll-behavior: smooth;
}

/* Typography */

body {
	color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.font-cuprum {
	font-family: 'Cuprum Variable', sans-serif;
}

/* Container */

.container {
	@apply w-full mx-auto max-w-9xl;
	@apply px-8;
}

@screen sm {
	.container {
		@apply px-12;
	}
}

@screen md {
	.container {
		@apply px-16;
	}
}

@screen lg {
	.container {
		@apply px-20;
	}
}

@screen xl {
	.container {
		@apply px-24;
	}
}

/* Button */

.btn {
	@apply inline-flex items-center justify-center;
	@apply px-6 py-2;
	@apply font-bold;
	@apply border-2 rounded-3xl;
	@apply transition duration-200 ease-in-out;
}

.btn-lg {
	@apply inline-flex items-center justify-center;
	@apply px-12 py-4;
	@apply font-bold;
	@apply rounded-3xl;
	@apply transition duration-200 ease-in-out;
}

/* Input */

.input {
	@apply block w-full;
	@apply px-4 py-2;
	@apply border-2;
	@apply transition duration-200 ease-in-out;
	@apply focus:outline-none;
	@apply rounded-3xl;
}

/* Cards */

.card-white {
	@apply p-8 mx-auto flex flex-col items-center gap-y-4;
	@apply bg-white text-petroleum-900;
	@apply rounded-3xl;
	@apply border border-petroleum-900/10 shadow-lg shadow-petroleum-900/5;
}

.card-gold {
	@apply p-8 mx-auto flex flex-col items-center gap-y-4;
	@apply bg-gradient-to-br from-gold-300  to-gold-500 text-white;
	@apply rounded-3xl;
	@apply border border-gold-900/10 shadow-lg shadow-gold-900/5;
}

.card-service,
.card-review {
	@apply p-12 min-h-80;
	@apply bg-white text-petroleum-900;
	@apply rounded-3xl;
	@apply border border-petroleum-900/10 shadow-lg shadow-petroleum-900/5;
}

/* Text UI */

.text-gradient {
	@apply bg-clip-text text-transparent;
	@apply bg-[linear-gradient(to_right,theme(colors.gold.500),theme(colors.gold.300),theme(colors.gold.400),theme(colors.gold.600))] bg-[length:100%_auto];
}

/* .text-gradient {
	background: linear-gradient(115deg, #56592C 4.5%, #E6C453 15.5%, #F0CD5B 65%, #D1A617 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
} */

/* Swiper UI */

.swiper-pagination-bullet {
	@apply bg-petroleum-700 !important;
}